<h1><%= @quiz.title %></h1>
<br>

<table>
  <tbody>
    <%= render @quiz.questions %>
  </tbody>
</table>

<% if !@quiz.finished? %>
  <%= button_to quiz_finish_path(@quiz),
      method: :patch do %>
    Finish
  <% end %>
<% end %>
